<div class="album text-muted">
    <div class="container">

        <div class="row">
            <div class="card" *ngFor="let finger of fingers">
                <img data-src="holder.js/100px280?theme=thumb" alt="{{finger}}.">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Orden</label>
                    <select class="form-control" id="exampleFormControlSelect3">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Intensidad</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Duración</label>
                    <select class="form-control" id="exampleFormControlSelect2">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
                </div>
            </div>
        </div>
        <div class="row center">
            <button type="button" class="btn btn-primary" (click)="sendData()">Enviar</button>
        </div>
    </div>
</div>